# Build
build/
out/
cmake-build-*/

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Compiled
*.exe
*.obj
*.o
*.lib
*.dll
*.pdb
*.ilk
*.exp

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp
tools/assets/
